*:focus {
	outline: none;
}

.waveformContainer {
	position: relative;
	margin: 10px auto;
  zoom: 0.5;
}

.waveform {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	padding-top: 280px;
  height: 360px;
  overflow: hidden;
  pointer-events: none;
}

.cover {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 300px;
  height: 300px;
  transform: scale(0.5);
  transform-origin: 0 0;
  border: 1px solid white;
  background-size: cover;
  background-position: center;
  background-color: rgba(0,0,0,0.5);
}

.cover input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.cover button {
  position: absolute;
  top: -10px;
  right: -10px;
}

.info {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
  margin-top: 40px;
	text-align: center;
}

.info.withCover {
  position: absolute;
  left: 180px;
  top: 0;
  right: 0px;
  bottom: 177px;
  width: auto;
  margin-top: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info h1 {
	color: white;
  font-size: 3.6em;
  padding: 0;
  margin: 0;
}

.info h2 {
	color: #e7e9ed;
  font-size: 2.4em;
  font-weight: normal;
  margin-bottom: 0;
}

.info p {
	color: #e7e8ec;
}

.dropzoneContainer {
	position: relative;
  width: 100%;
  height: 180px;
  border: 3px dashed #efefef;
  border-radius: 9px;
}

.dropzoneInfo {
	position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: #999;
  font-size: 24px;
  text-align: center;
  pointer-events: none;
  padding-top: 36px;
}

.dropzoneInfo.withoverlay {
  background-color: rgba(0,0,0,0);	
}

.dropzoneInfo p {
	position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  font-size: 16px;
}

.buttons {
	display: flex;
  width: 640px;
	margin: 30px auto;
  justify-content: space-around;
}

button:focus, button:active {
	outline: none;
}

.buttons button {
	width: 250px;
	font-size: 28px;
  border: none;
  cursor: pointer;	
  border-radius: 9px;
  padding: 8px 20px 10px 20px;
}

button.play {  
  color: white;
  background: #6d778f;
}

button.generate {
  color: white;
  background: #673ab7;
}

button.download {
  color: white;
  background: green;
  line-height: 18px;
}

.editor {
	display: flex;
	flex-wrap: wrap;
}

.editor .item {
	margin: 20px;
}

.editor label {
	color: white;
	margin: 10px;
}

.colorPickerToggle {
  width: 64px;
  height: 64px;
  cursor: pointer;
  background-image: url('/colors.png');
  background-size: 100%;
  border: 1px solid transparent;
  border-radius: 50%;
}

.swatches-picker {
  position: absolute;
  top: 130px;
  z-index: 3;
}
