*:focus {
	outline: none;
}

.waveformContainer {
	position: relative;
	margin: 40px auto;
	background: #333;
	background: linear-gradient(to bottom, #000333 0%,#3f4c6b 100%);
}

.waveform {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	padding-top: 220px;
  height: 180px;
  overflow: hidden;
  pointer-events: none;
}

.info {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
  margin-top: 40px;
	text-align: center;
}

.info h1 {
	color: white;
  font-size: 1.8em;
  padding: 0;
  margin: 0;
}

.info h2 {
	color: #e7e9ed;
  font-size: 1.3em;
  font-weight: normal;
  margin-bottom: 0;
}

.info p {
	color: #e7e8ec;
}

.dropzoneContainer {
	width: 100%;
	height: 100%;
}

.dropzoneInfo {
	position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  color: white;
  font-size: 24px;
  text-align: center;
  pointer-events: none;
}

.dropzoneInfo.withoverlay {
  background-color: rgba(0,0,0,0.6);	
}

.dropzoneInfo p {
	position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  font-size: 18px;
}

.icon {
	position: absolute;
  left: calc(50% - 64px);
  top: calc(50% - 64px);
  width: 128px;
  height: 128px;
  filter: invert(1);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.icon.add {
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIiIGhlaWdodD0iNTEycHgiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDUxMiA1MTIiIHdpZHRoPSI1MTJweCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+PGcgaWQ9IkxheWVyXzQiLz48ZyBpZD0iTGF5ZXJfMiI+PHBhdGggZD0iTTI1Ni41LDEwNC4zM2MtODMuNzYsMC0xNTEuNjcsNjcuOTEtMTUxLjY3LDE1MS42N3M2Ny45MSwxNTEuNjcsMTUxLjY3LDE1MS42N1M0MDguMTcsMzM5Ljc2LDQwOC4xNywyNTYgICBTMzQwLjI2LDEwNC4zMywyNTYuNSwxMDQuMzN6IE0yNzUsMjc0djEwMWgtMzdWMjc0SDEzOHYtMzZoMTAwVjEzOGgzN3YxMDBoMTAwdjM2SDI3NXoiIGZpbGw9IiMyNTI1MjUiLz48L2c+PGcgaWQ9IkxheWVyXzMiLz48L3N2Zz4=');
}

.icon.check {
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDUxMiA1MTIuMDY4IiBoZWlnaHQ9IjUxMi4wNjhweCIgaWQ9IkxheWVyXzEiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDUxMiA1MTIuMDY4IiB3aWR0aD0iNTEycHgiIHhtbDpzcGFjZT0icHJlc2VydmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGlkPSJtZWFuaWNvbnNfeDVGXzIzIj48cGF0aCBkPSJNMjU2LjM0LTAuMDY4QzExNC45MzYtMC4wNjgsMC4zNDUsMTE0LjYyOCwwLjM0NSwyNTUuOTM5YzAsMTQxLjQ0MiwxMTQuNTkxLDI1Ni4wNjIsMjU1Ljk5NSwyNTYuMDYyICAgYzE0MS40MjQsMCwyNTYuMDA1LTExNC42MTksMjU2LjAwNS0yNTYuMDYyQzUxMi4zNDYsMTE0LjYyOCwzOTcuNzY0LTAuMDY4LDI1Ni4zNC0wLjA2OHogTTI3My4zMTQsMzU1LjgxNWwtNzMuOTk0LDc0LjA2OCAgIGwtNzQuMDg5LTc0LjA2OGwtODUuNTQ1LTg1LjYzMWw3NC4wMzItNzQuMDUxbDg1LjYwMiw4NS41NjNMMzk4Ljk0Miw4Mi4xMjJsNzQuMDg5LDc0LjAwNEwyNzMuMzE0LDM1NS44MTV6Ii8+PC9nPjxnIGlkPSJMYXllcl8xXzFfIi8+PC9zdmc+');
}

.icon.reject {
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB3aWR0aD0iMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTQ0MCA4OTNxMC0xNjEtODctMjk1bC03NTQgNzUzcTEzNyA4OSAyOTcgODkgMTExIDAgMjExLjUtNDMuNXQxNzMuNS0xMTYuNSAxMTYtMTc0LjUgNDMtMjEyLjV6bS05OTkgMjk5bDc1NS03NTRxLTEzNS05MS0zMDAtOTEtMTQ4IDAtMjczIDczdC0xOTggMTk5LTczIDI3NHEwIDE2MiA4OSAyOTl6bTEyMjMtMjk5cTAgMTU3LTYxIDMwMHQtMTYzLjUgMjQ2LTI0NSAxNjQtMjk4LjUgNjEtMjk4LjUtNjEtMjQ1LTE2NC0xNjMuNS0yNDYtNjEtMzAwIDYxLTI5OS41IDE2My41LTI0NS41IDI0NS0xNjQgMjk4LjUtNjEgMjk4LjUgNjEgMjQ1IDE2NCAxNjMuNSAyNDUuNSA2MSAyOTkuNXoiLz48L3N2Zz4=');
}

.buttons {
	display: flex;
  width: 640px;
	margin: 30px auto;
  justify-content: space-around;
}

button:focus, button:active {
	outline: none;
}

.buttons button {
	width: 250px;
	font-size: 28px;
  border: none;
  cursor: pointer;	
  border-radius: 9px;
  padding: 8px 20px 10px 20px;
}

button.play {  
  color: white;
  background: #6d778f;
}

button.generate {
  color: white;
  background: #673ab7;
}

button.download {
  color: white;
  background: green;
}

.editor {
	display: flex;
	flex-wrap: wrap;
}

.editor .item {
	margin: 20px;
}

.editor label {
	color: white;
	margin: 10px;
}

